@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="container p-t-100 p-b-50">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="mtext-109 cl2 p-b-30">
                    <i class="zmdi zmdi-block text-danger"></i>
                    Từ chối truy cập
                </h1>
                <p class="stext-102 cl6 p-b-30">
                    Bạn không có quyền truy cập trang này.
                </p>
                <a href="@Url.Action("Index", "Home")" class="flex-c-m stext-101 cl0 size-107 bg3 bor1 hov-btn3 p-lr-15 trans-04 m-auto">
                    Quay về trang chủ
                </a>
            </div>
        </div>
    </div>
</div>