@model CT_Fas.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container p-t-100 p-b-50">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bor10 p-lr-40 p-t-30 p-b-40 m-lr-0-xl p-lr-15-sm">
                <h4 class="mtext-109 cl2 text-center p-b-30">
                    Đăng ký tài khoản
                </h4>

                <form asp-controller="Account" asp-action="Register" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Email" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" placeholder="Email">
                        <span class="how-pos4 pointer-none">
                            <i class="zmdi zmdi-email"></i>
                        </span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="Password" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" placeholder="Mật khẩu">
                        <span class="how-pos4 pointer-none">
                            <i class="zmdi zmdi-lock"></i>
                        </span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="ConfirmPassword" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="password" placeholder="Xác nhận mật khẩu">
                        <span class="how-pos4 pointer-none">
                            <i class="zmdi zmdi-lock-outline"></i>
                        </span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input asp-for="FullName" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" placeholder="Họ tên">
                        <span class="how-pos4 pointer-none">
                            <i class="zmdi zmdi-account"></i>
                        </span>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="bor8 m-b-30 how-pos4-parent">
                        <input asp-for="PhoneNumber" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" placeholder="Số điện thoại">
                        <span class="how-pos4 pointer-none">
                            <i class="zmdi zmdi-phone"></i>
                        </span>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Đăng ký
                    </button>
                </form>

                <div class="flex-w flex-c p-t-30">
                    <div class="stext-102 cl3">
                        Đã có tài khoản? 
                        <a href="@Url.Action("Login", "Account")" class="stext-102 cl2 hov-cl1 trans-04">
                            Đăng nhập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}